<html>
<body>
        <div class="jumbotron text-center" style="margin-top:200px">
  <h1 class="display-3">Thank You!</h1>
    <p class="lead display-4"><strong>We are please to have you!</strong></p>
  <p class="lead"><strong>Please check your email</strong> for further instructions on how to get a tutor.</p>
  <hr>
  <p>
    Having trouble? <a asp-controller="contact" asp-action="contact" >Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-success btn-lg" asp-controller="login" asp-action="loginstudent" role="button">Continue to login</a>
  </p>
</div>
</body>
</html>