<body>
    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                                 alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">John Smith</h5>
                            <p class="text-muted mb-1">Maths Teacher</p>
                            <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
                            <div class="d-flex justify-content-center mb-2">
                                <a asp-controller="Tutor" asp-action="TutorProfileUpdate">
                                    <button type="button" class="btn btn-success">Edit Profile</button>
                                </a>
                                <a href="">
                                    <button type="button" class="btn btn-outline-success ms-1">See Requests</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp; First Name
                                    </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">Johnatan Smith</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp; Last Name
                                    </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">Johnatan Smith</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">
                                        <i class="fa fa-key" aria-hidden="true"></i>&nbsp;Password
                                    </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">1234556</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">
                                        <i class="fa fa-mars-stroke-v"></i>&nbsp;Gender
                                    </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">Male</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">
                                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;Qualification
                                    </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">Mphill</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">
                                        <i class="fa fa-book" aria-hidden="true"></i>&nbsp;Subject 1
                                    </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">Math</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">
                                        <i class="fa fa-book" aria-hidden="true"></i>&nbsp; Subject 2
                                    </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">Physics</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">
                                        <i class="fa fa-flag" aria-hidden="true"></i>&nbsp; Country
                                    </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">Pakistan</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">
                                        <i class="fa fa-map-pin" aria-hidden="true"></i>&nbsp;Zip Code
                                    </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">200</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">
                                        <i class="fa fa-home" aria-hidden="true"></i>&nbsp;Place
                                    </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">Lahore</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Email
                                    </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">example@example.com</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">
                                        <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;Phone Code
                                    </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">(097) 234-5678</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">
                                        <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;Phone Number
                                    </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">(098) 765-4321</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">
                                        <i class="fa fa-address-card-o" aria-hidden="true"></i>&nbsp;Address
                                    </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                                </div>
                            </div>
                            <!--PROGRESSS-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="d-flex align-items-center mb-3">Overall Performance Status</h5>
                                <p>Student Satisfaction</p>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 80%"
                                         aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p>Subject Grip</p>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 72%"
                                         aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p>Proper Time Management</p>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 89%"
                                         aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p>Teaching Style</p>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 55%"
                                         aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <!-- <p></p>
                                <div class="progress" style="height: 5px">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                            </div>
                        </div>
                        <!---->
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>