<html>
<body>
    <div class="jumbotron text-center" style="margin-top:200px">
  <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>It will take some time to verify given credentials and activation of your account.</strong></p>
  <p class="lead"><strong>Please check your email</strong> for further instructions on how to complete your account setup.</p>
  <hr>
  <p>
    Having trouble? <a asp-controller="contact" asp-action="contact" >Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-success btn-lg" asp-controller="home" asp-action="index" role="button">Continue to homepage</a>
  </p>
</div>
</body>
</html>
